/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    height: 3000px;
}

img {
    display: block;
}

.inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* MATERIAL */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    background-color: #f6f5ef;
    border-bottom: 1px solid #c8c8c8;
    border-top: 2px solid #00704A;
}

header>.inner {
    height: 120px;
}

header .inner .logo {
    position: absolute;
    height: 75px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

header .sub_menu {
    display: flex;
    position: absolute;
    right: 50px;
    top: 10px;
}

header .sub_menu ul.menu {
    display: flex;
    font-family: Arial, sans-serif;
}

header .sub_menu ul.menu li {
    position: relative;
}

header .sub_menu ul.menu li:not(:first-child)::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #656565;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub_menu ul.menu li a {
    display: block;
    font-size: 12px;
    padding: 10px 15px;
    color: #656565;
    text-decoration: none;
}

header .sub_menu ul.menu li a:hover {
    color: #000;
}

header .sub_menu .search {
    position: relative;
    height: 34px;
}

header .sub_menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    transition: width 0.4s;
}

header .sub_menu .search input:focus {
    width: 190px;
    color: #656565;
    font-size: 12px;
    border-color: #00704A;
}

header .sub_menu .search .material-symbols-outlined {
    position: absolute;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto;
}

header .main_menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Avenir, Arial, georgia;
}


header .main_menu .item .item__name {
    display: block;
    padding: 10px 20px 34px 20px;
    font-size: 13px;
}

header .main_menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    text-decoration: underline;
    z-index: 1;
    cursor: pointer;
}

header .main_menu .item .item__contents {
    position: fixed;
    width: 100%;
    left: 0;
    display: none;
    transition: 1s;
}

header .main_menu .item:hover .item__contents {
    display: block;
}

header .main_menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
    left: 0;
}

header .main_menu .item .item__contents .contents__menu .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

header .main_menu .item .item__contents .contents__menu .inner>li {
    width: 200px;
    padding: 20px 20px 20px 0;
}

header .main_menu .item .item__contents .contents__menu .inner>li:nth-child(5) {
    width: 210px;
    padding: 20px 10px 0 0;
}

header .main_menu .item .item__contents .contents__menu .inner>li>a {
    display: block;
    color: white;
    font-size: 14px;
    padding-bottom: 7px;
}

header .main_menu .item .item__contents .contents__menu .inner>li>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

header .main_menu .item .item__contents .contents__menu .inner>li>ul {
    color: #999;
    font-size: 12px;
}

header .main_menu .item .item__contents .contents__menu .inner>li>ul>li {
    padding: 3px 0;
}

header .main_menu .item .item__contents .contents__menu .inner>li>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

header .main_menu .item .item__contents .contents__addition {
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main_menu .item .item__contents .contents__addition .inner {
    padding: 20px 0;
}

header .main_menu .item .item__contents .contents__addition .inner>a {
    font-size: 12px;
    font-weight: 700;
    color: #999;
    margin-top: 12px;
}

header .main_menu .item .item__contents .contents__addition .inner>a:hover {
    text-decoration: underline;
}

header .main_menu .item .item__contents .contents__addition .inner>p {
    font-size: 12px;
    color: #669900;
}

header .main_menu .item .item__contents .contents__addition .inner>span {
    font-size: 26px;
    color: #669900;
    line-height: 26px;
    vertical-align: bottom;
}

header .badges {
    position: absolute;
    top: 132px;
    right: 12px;    
}

header .badges .badge {
    cursor: pointer;    
}

header .badges .badge img {}

